html, body {
     width: 100%;
     height: 100%;
     padding: 0;
     margin: 0;
     overflow-y: hidden;
  }
body {
    animation: color-animation 80s infinite linear alternate;
}

 @keyframes color-animation {
    0% {
       background: rgb(172,135,255);
    }
     5%{
         background: rgb(185,43,255);
     }
     10%{
         background: rgb(232,123,186);
     }
     15%{
         background: rgb(232,70,186);
     }
     20%{
         background: rgb(255,183,148);
     }
     25%{
         background: rgb(255,183,77);
     }
     30%{
         background: rgb(232,211,149);
     }
     35%{
         background: rgb(175,211,149);
     }
     40%{
         background: rgb(223,255,145);
     }
     45%{
         background: rgb(223,255,84);
     }
     50%{
         background: rgb(118,255,113);
     }
     55%{
         background: rgb(44,196,87);
     }
     60%{
         background: rgb(137,232,123);
     }
     65%{
         background: rgb(42,135,62);
     }
     70%{
         background: rgb(148,255,240);
     }
     75%{
         background: rgb(68,85,255);

     }
     80%{
         background: rgb(149,169,232);
     }
     85%{
         background: rgb(64,135,109);
     }
     90%{
         background: rgb(219,146,255);
     }
     100%{
         background: rgb(232,232,232);
     }

 }

h1,
h2 {
    margin: 0;
}

.shadow-font {
    font-family: 'Shadows Into Light', cursive;
}

.my-font {
    font-family: MyFont;
}

.main-heading {
    visibility: hidden;
    font-size: 10em;
    text-align: center;
    margin: 10% auto;
    color:white;
    height:50%;
}


.button-launch {
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    -o-border-radius: 40px;
    -ms-border-radius: 40px;
    border-radius: 40px;
    color: black;
    background-color: white;
    width: 200px;
    height: 50px;
    border: 1px solid white;
    display: block;
    top: 70%;
    margin: 150px auto;
    font-family: 'MyFont2';
    visibility: hidden;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    visibility: hidden;
    -webkit-transition: opacity .35s, visibility .35s, width .35s;
    transition: opacity .35s, visibility .35s, width .35s;
    z-index: 50;
}
.overlay:before {
    content: '';
    background: #FF5252;
    left: -55%;
    top: 0;
    width: 50%;
    height: 100%;
    position: absolute;
    -webkit-transition: left .35s ease;
    transition: left .35s ease;
}
.overlay:after {
    content: '';
    background: #FF5252;
    right: -55%;
    top: 0;
    width: 50%;
    height: 100%;
    position: absolute;
    -webkit-transition: all .35s ease;
    transition: all .35s ease;
}
.overlay.open {
    opacity: .9;
    visibility: visible;
    height: 100%;
}
.overlay.open:before {
    left: 0;
}
.overlay.open:after {
    right: 0;
}